{#
 # GridStack-compatible question template for form designer
 # Questions are draggable widgets in a 4-column grid
 # NOTE: GridStack v12 creates the .grid-stack-item wrapper automatically,
 # so this template only contains the inner content.
 #}
<div class="formcreator-question-card" data-itemtype="PluginFormcreatorQuestion" data-id="{{id}}">
    <div class="formcreator-question-content">
        {{icon|raw}}&nbsp;
        <a href="javascript:plugin_formcreator.showQuestionForm({{sectionId}}, {{id}})"
           data-field="name">
            <sup class='plugin_formcreator_conditions_count'
                 title='{{"Count of conditions" | transd("formcreator")}}'>
                {{count}}
            </sup>
            {{name}}
        </a>
    </div>

    <div class="formcreator-question-actions">
        <span class='form_control pointer'>
            <i class="far fa-trash-alt"
               onclick="plugin_formcreator.deleteQuestion(this)"></i>
        </span>

        <span class='form_control pointer'>
            <i class="far fa-clone"
               onclick="plugin_formcreator.duplicateQuestion(this)"></i>
        </span>

        <span class='form_control pointer'>
            <i class="{{requiredIcon}}"
               onclick="plugin_formcreator.toggleRequired(this)"></i>
        </span>
    </div>
</div>
